ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

li {
  background-image: var(--background);
  background-position: center;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  margin: 0 .5rem .5rem 0;
  aspect-ratio: 1 / 1;
}

li > a {
  text-decoration-color: color(srgb 0.9756 0.4434 0.244);
  display: block;
  width: 100%;
  height: 100%;
  padding: .5rem;
}

.project-description {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(0,212,255,1) 87%, rgba(0,212,255,0) 100%);
  color: color(srgb 0.9756 0.4434 0.244);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}
